@charset "UTF-8";
/* CSS Document */

/*
=========================== custom styles for resident buddy ========================================================
*/

#by-rentbits { background: transparent url(../img/smart-living/bck-gnd-linen-pattern.png) 0 0 repeat-x; height: 50px; width: 100%; margin: 0; padding: 0; }
#by-rentbits h6 { text-align: center; margin: 0; padding: 13px 0 0 0; color: #fff; }
#resident-buddy-logo { border: 3px solid #b9bbbd; border-width: 3px 0 0 0; width: 100%; background: transparent url(../img/smart-living/bckgnd-logo-section.png) left bottom repeat-x; box-shadow: 0 1px 5px rgba(0,0,0,.3); height: 80px; }
#resident-buddy-logo img { padding-top: 3px; width: 214px; position: absolute; margin-left: -107px; left: 50%; z-index: 10; }
#hero { }
#hero img { width: 100%; margin:0; padding:0; }
#hero .product-placemnt-sl { position: absolute; top: 0; left: 3.2258%; z-index:20; margin-top: 220px; margin-right: 3.2258%; margin-left: 3.2258%; }
#hero .pre-order-form-wrapper { position: absolute; top: 0; left: 53%; z-index:20; margin-right: 3.2258%; }
#hero .pink { margin: 160px 0 0 0; padding-left: 0; }
.pink { color: #e7554c; text-shadow: 1px 1px 0 rgba(0,0,0,.8); } 
#hero .white { color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,.8); font-weight: bold; }
#hero .panel { border-radius: 4px; background-color: rgba(255,255,255,.6); border: none; padding-bottom: 0; }
.button.pre-order { color: #fff; border: 1px solid #cd4b43; text-transform: none; font-size: 16px; padding:8px 18px;
background: #e8665e;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NjY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNjU1NGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e8665e 0%, #e6554c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8665e), color-stop(100%,#e6554c));
background: -webkit-linear-gradient(top,  #e8665e 0%,#e6554c 100%);
background: -o-linear-gradient(top,  #e8665e 0%,#e6554c 100%);
background: -ms-linear-gradient(top,  #e8665e 0%,#e6554c 100%);
background: linear-gradient(to bottom,  #e8665e 0%,#e6554c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8665e', endColorstr='#e6554c',GradientType=0 );
}
.button.sign-in:hover,
.button.sign-in:focus { background: #cd4b43; text-transform: none; color: #fff; transition: none; }
#hero .no-bullet li { display: inline-block; }
#hero .no-bullet li:last-child { color:#494949; margin-left: 20px; }
#hero .no-bullet li:last-child a { color:#494949; text-decoration: underline; }
#hero .no-bullet li:last-child a:hover { }
section .row:last-child { border: 3px solid #ccc; border-width: 0 0 3px 0; }
section#pre-order .row:last-child { border-width: 0; margin-top: 30px; }
.app-icons { padding-bottom: 20px; }
.how-product { display: table; }
.how-product .img-wrapper { height: 100%; display: table-cell; vertical-align: bottom; }


/* other screen sizes */
  @media only screen and (max-width: 1024px) {
	#hero .product-placemnt-sl { margin-top: 140px; margin-right: 4.2258%;}
	#hero .pre-order-form-wrapper .large.white { font-size: 18px; }
  }
  
  /* iPad Portraid layout and smaller */
  @media only screen and (max-width: 768px) {
	#hero .pre-order-form-wrapper { position: absolute; top: 0; left: 0; z-index:20; margin-right: 3.2258%;  margin-left: 3.2258%; }
  }

